@import './util';

#experience-section {
  position: relative;
  color: white;
  background: $background-3;

  h3 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Wire One';
    font-size: 5rem;
  }
}