//   FONTS   //


//   COLORS   //
$background-1: rgb(4, 71, 104);
$background-2: rgb(1, 50, 74);
$background-3: rgb(0, 37, 55);
$background-4: rgb(0, 21, 32);
$background-5: rgb(0, 13, 19);
$link-bg: rgb(0, 119, 181);


//   MIXINS   //
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   Z-INDEX   //
$fixed-top: 500;
$above-overlay: 100;

//   TRANSITIONS   //
$slow: .5s;
$fast: .3s;