#experience-section {
  position: relative;
  color: white;
  background: #002537; }
  #experience-section h3 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Wire One';
    font-size: 5rem; }
  #experience-section .slideshow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #experience-section .slideshow .slide {
      padding: 0 15%;
      display: none;
      color: white;
      font-family: 'Montserrat'; }
      #experience-section .slideshow .slide h4 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 5px; }
      #experience-section .slideshow .slide table {
        margin: -5%;
        border-spacing: 20px;
        table-layout: fixed; }
        #experience-section .slideshow .slide table tr > td {
          font-weight: 600; }
          #experience-section .slideshow .slide table tr > td span {
            display: block; }
      #experience-section .slideshow .slide div {
        width: 100%;
        display: flex;
        font-size: 1.25rem;
        justify-content: space-between;
        margin-bottom: 10px; }
    #experience-section .slideshow a {
      padding: 20px 30px;
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: 0.3s;
      font-size: 2rem;
      color: white;
      background: rgba(20, 20, 20, 0.5);
      transform: translateY(-50%);
      cursor: pointer;
      pointer-events: all; }
      #experience-section .slideshow a.prev {
        left: 0; }
      #experience-section .slideshow a.next {
        right: 0; }
      #experience-section .slideshow a:hover {
        background: rgba(20, 20, 20, 0.9); }
    #experience-section .slideshow:hover a {
      opacity: 1; }
    #experience-section .slideshow .dots {
      width: auto;
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
      #experience-section .slideshow .dots span {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        background: #0077b5;
        opacity: .5;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer; }
        #experience-section .slideshow .dots span:hover {
          opacity: .75; }
        #experience-section .slideshow .dots span.active {
          opacity: .9; }
