#about-section {
  padding: 30px 100px;
  color: white;
  text-align: center;
  background: #044768; }
  #about-section img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%; }
  #about-section p {
    font-size: 1.5rem;
    font-family: 'Montserrat';
    text-align: left; }
