#title-section {
  position: relative;
  background: url("../img/monterey_bay.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  #title-section:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #001520;
    opacity: .5;
    position: absolute; }
  #title-section video {
    width: 105%;
    position: absolute;
    top: -30px;
    left: -20px; }
  #title-section h1 {
    position: absolute;
    left: 50%;
    bottom: 50px;
    font-family: 'Wire One';
    color: white;
    font-size: 15rem;
    font-weight: 500px;
    white-space: nowrap;
    opacity: .8;
    transform: translateX(-50%);
    z-index: 100; }
  #title-section img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .8;
    z-index: 100; }

@media screen and (max-width: 1250px) {
  #title-section {
    background-size: cover; } }

@media screen and (max-width: 1000px) {
  #title-section h1 {
    font-size: 10rem; } }

@media screen and (max-width: 650px) {
  #title-section h1 {
    font-size: 7rem; } }

@media screen and (max-width: 475px) {
  #title-section h1 {
    font-size: 5rem; } }

@media screen and (max-width: 350px) {
  #title-section h1 {
    font-size: 3rem; } }
