@import './util';

#experience-section {
  background: $background-3;
  position: relative;

  .slideshow {
    width: 100%;
    height: 100%;
    @include center-content();

    .slide {
      display: none;
      color: white;
      font-family: 'Montserrat';
    }

    a {
      padding: 20px 30px;
      position: absolute;
      top: 50%;

      opacity: 0;
      transition: $fast;
      font-size: 2rem;
      color: white;
      background: rgba(20, 20, 20, .5);
      transform: translateY(-50%);
      cursor: pointer;
      pointer-events: all;

      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }

      &:hover {
        background: rgba(20, 20, 20, .9);
      }
    }

    &:hover a {
      opacity: 1;
    }

    .dots {
      width: auto;
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      span {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        background: $link-bg;
        opacity: .5;
        border-radius: 50%;
        transition: $fast;
        cursor: pointer;

        &:hover {
          opacity: .75;
        }
        &.active {
          opacity: .9;
        }
      }
    }
  }
}