* {
  font-family: 'Saira Semi Condensed';
  padding: 0;
  margin: 0;
  font-weight: 400;
  background: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

$sky-blue: #00AFF6;
$ocean: darken($sky-blue, 10%);
$mid: darken($sky-blue, 25%);
$deep: darken($sky-blue, 35%);
$bottom: darken($sky-blue, 50%);

main {
  max-width: 1920px;
  height: 3000px;
  margin: auto;

  background: linear-gradient($ocean, $mid, $deep, $bottom);
}

.spacer {
  width: 100%;
  height: 500px;
}

.resume-button {
  padding: 10px 50px;
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  margin-left: 50%;
  margin-bottom: 200px;
  transform: translateX(-50%);
  transition: .3s;

  &:hover {
    color: $mid;
    background: white;
  }
  &:focus {
    color: $mid;
    background: white;
  }
}

button {
  cursor: pointer;
}